<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" href="./base.css">
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div class="form-container">
        <form action="/usersigin" method="POST">
            <fieldset class="form">
                <legend>用户登录</legend>
                <div class="form-item">
                    <label for="user">用户名</label>
                    <input type="text" id="user" name="user" placeholder="请输入用户名(admin)">
                </div>
                <div class="form-item">
                    <label for="psd">密码</label>
                    <input type="password" id="psd" name="psd" placeholder="请输入密码(admin888)">
                </div>
                <div class="form-item">
                    <button type="submit" class="btn">提交</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>